main table td, main table th {
    border: 1px solid black;  /* Универсальное свойство border позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента */
    padding: 10px;              /* Устанавливает значение полей вокруг содержимого элемента */
}

.success {
    color: green; /* Определяет цвет текста элемента */
}
.error {
    color: red; /* Определяет цвет текста элемента */
}